/* Styling for large devices */
@media screen and (min-width: 992px){
	/* Styling nav*/
	nav{
		height: 8vw;
	}

	.navbar-toggler-icon {
		height: 1.5rem;
		width: 1.5rem;
	}

	nav .navbar-nav{
		display: flex;
	}

	#menu {
		display: none;
	}

	nav .nav-item{
		margin: 5px;
		width: 100px;
		border-radius: 20px;
		text-align: center;
	}

	nav .nav-link {
		font-size: 1rem;
	}

	nav .nav-item {
		padding: 0px;
	}

	#logo {
		width: 20vw;
	}

	nav .nav-item:hover{
		background-color: #EBEBED;
	}
	/**/

	/*Styling summary tabs*/
	#summary{
		transition-duration: 0.8s;
		width: 18vw;
		height: 8vh;
		font-size: 16px;
	}

	#summary:hover{
		background-color: #00FF00;	
	}

	#summary span{
		font-size: 20px;
	}	
	/**/

	/* Styling tables */
	.table{
		font-size: 16px;
		width: 100%;
		margin-left: -13px;  
		margin-right: -13px;
	}

	.table th, .table td{
		padding: 12px;
	}

	#table-header{
		font-size: 32px;
	}
}
/**/
