/* Styling for large devices */
@media screen and (min-width: 992px){
	/* Styling nav*/
	nav{
		height: 8vw;
	}

	.navbar-toggler-icon {
		height: 1.5rem;
		width: 1.5rem;
	}

	#logo {
		width: 20vw;
	}

	nav .nav-item:hover{
		background-color: #EBEBED;
	}
	/**/

	/*Styling summary tabs*/
	#summary{
		transition-duration: 0.8s;
		width: 18vw;
		height: 8vh;
		font-size: 16px;
	}

	#summary:hover{
		background-color: #37f337;	
		color: #FFFFFF;
	}

	#summary span{
		font-size: 20px;
	}	
	/**/
}
/**/
