body{
	--main-bg-color: #00FF00;
}

/* Styling for nav and header */
nav {
	background-color: var(--main-bg-color);
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	height: 10vh;
}

.navbar-toggler-icon {
	height: 4rem;
	width: 4rem;
}

.navbar-toggler {
	margin-right: 20px;
}

nav .navbar-nav{
	display: none;
}

header div {
	background-color: #EBEBED;
	width: 40vw;
	float: right;
	text-align: right;
	border-radius: 0 0 10px 10px;
}

#menu{
	box-shadow: 0 .5rem 1rem .5rem rgba(0,0,0,.2);
}

header .nav-item {
	display: inline;
	padding-right: 30px;
}

header .nav-link {
	font-size: 40px;
	color: #000000;
}

header .active{
	background-color: var(--main-bg-color);
}

div {
	clear: both;
}

#logo {
	width: 40vw;
}

nav .active{
	background-color: #FFFFFF;
}

header{
	position: sticky;	
	top: 0;
	z-index: 10;
}
/**/

/* Styling Tables */
.table{
	border-collapse: collapse;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

	margin-left: -85px;
	width: 125%;
	font-size: 40px;
	/* margin-right: 40px;  */
}

.table th, .table td{
	text-align: center;
	
	padding: 40px;
}

td:nth-of-type(2) {
	font-weight: bold;
  }

th{
	background-color: var(--main-bg-color);
}

#table-header{
	font-size: 45px;
	text-align: left;
}
/**/

/* Styling summary tabs */
#summary{
	text-align: center;
	background-color: #EBEBED;
	border-radius: 10px;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	margin: 10px;
	display: inline-block;

	font-size: 35px;
	width: 30vw;
	height: 6vh;
}

#summary span{
	font-size: 40px;
}
/**/

/* Styling Donate Link */
#donate-link{
	text-decoration: none;
}

#donate-container {
	margin: 0;
  	position: absolute;
  	top: 50%;
}

#donate-div{
	color: #000000;
	background-color: var(--main-bg-color);
	width: 60vw;
	border-radius: 20px;
	font-size: 50px;
	height: 70px;
	line-height: 50px;
	text-align: center;
	margin: 0 auto;
}

.col-md-12{
	text-align: center;
}
