/* Styling for nav and header */
nav {
	background-color: #37f337;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	/* width: device-width; */
}

#logo {
	width: 20vw;
}

nav .nav-item{
	margin: 5px;
	width: 100px;
	border-radius: 20px;
	text-align: center;
}

nav .active{
	background-color: #FFFFFF;
}

header{
	position: sticky;	
	top: 0;
	z-index: 10;
}
/**/

/* Styling Tables */
table{
	border-collapse: collapse;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

th, td{
	text-align: center;
	padding: 5px;
}

td:nth-of-type(2) {
	font-weight: bold;
  }

th{
	background-color: #37f337;
}

#table-header{
	font-size: 32px;
	font-weight: normal;
	text-align: left;
}
/**/

/* Styling summary tabs */
#summary{
	text-align: center;
	background-color: #EBEBED;
	border-radius: 10px;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	margin: 10px;
	display: inline-block;

	font-size: 35px;
	width: 30vw;
	height: 6vh;
}

#summary span{
	font-size: 40px;
}
/**/

.col-md-12{
	text-align: center;
}