body{
	--main-bg-color: #00FF00;
}

h2 {
	font-size: 60px;
	margin-left: -85px;
	width: 125%;
}

/* Styling for nav and header */
nav {
	background-color: var(--main-bg-color);
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	height: 10vh;
}

#logo {
	width: 40vw;
}

/* Toggler Styling */
.navbar-toggler {
	margin-right: 20px;
}

.navbar-toggler-icon {
	height: 4rem;
	width: 4rem;
}
/*  */

/* Styling side nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    float: right;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 180px;
    background-color: #EBEBED;
}

#mySidenav .nav-link { /* all links */
	font-size: 50px;
	color: #000000;
	margin: 15px;
    padding: 8px 8px 8px 32px;
	margin-left: 5px;
	white-space: nowrap;
	transition: 0.3s;
}

#mySidenav .nav-item:active { /* Selected Page */
	background-color: #FFFFFF;
}

#mySidenav .active{ /* Current Page */
	background-color: #d7d7de;
	border-left: 15px solid var(--main-bg-color);
	
}

.sidenav .closebtn {
	text-decoration: none;
	color: #818181;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 110px;
    margin-left: 50px;
  }

.fa, .fas, .fab {
	font-size: 60px;
}

#nav-text-left, #nav-text-right {
	display: none;
	font-size: 80px;
	color: #9e9ead;
	padding-top: 80px;
	white-space: nowrap;
}

#nav-text-left{
	float: left;
	padding-left: 40px;
}

#nav-text-right{
	float: right;
	padding-right: 40px;
}

/*  */

header{
	position: sticky;	
	top: 0;
	z-index: 10;
}

/* Hiding large screen nav */
nav .navbar-nav{
	display: none;
}
/**/

/* Styling images */
.top-pic{
	width: 90%;
	margin: 0 auto;
	display: block;
}

/* Donate Page */
#modi{
	width: 90%;
	margin: 0 auto;
	display: block;
}

#pmcares{
	font-size: 35px;
	line-height: 60px;
}

#donate-link{
	font-size: 35px;
}
/**/

/* Styling Tables */
.table{
	border-collapse: collapse;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	margin-left: -85px;
	width: 125%;
	height: 90vh; /* Making table vertically scrollable */
	font-size: 40px;
}

.table th, .table td{
	text-align: center;
	padding: 40px;
}

#table-header .swipe, #table-header2 .swipe {
	font-weight: lighter;
	font-size: 40px;
}

td:nth-of-type(2) {
	font-weight: bold;
  }

th{
	background-color: var(--main-bg-color);
}

#table-header, #table-header2 {
	font-size: 45px;
	text-align: left;
}
/**/

/* Styling summary tabs */
.summary{
	text-align: center;
	background-color: #EBEBED;
	border-radius: 10px;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	margin: 10px;
	display: inline-block;

	font-size: 40px;
	width: 30vw;
	height: 8vh;
}

.summary span{
	font-size: 50px;
}
/**/

.col-md-12{
	text-align: center;
}

/* Styling Charts and Graphs */
.graph {
	margin-left: -85px;
	width: 125%!important;
}
/**/

/* Scroll up button */
#myBtn {
	display: none; 
	position: fixed;
	bottom: 20px;
	right: 30px; 
	z-index: 99; 
	border: none;
	outline: none;
	background-color: #EBEBED;
	color: #000000;
	cursor: pointer; 
	padding: 10px; 
	border-radius: 10px; 
	font-size: 60px;
	width: 80px;
	height: 80px;
	box-shadow: 1rem 1rem 1rem 0.5rem rgba(0,0,0,.15);
  }
/**/

/* Footer */
footer{
	padding: 10px;
	height: 25vh;
	font-size: 35px;

	text-align: center;
	background-color: #EBEBED;
	line-height: 45px;
}

footer span{
	line-height: 90px;
}

footer a {
	color: #9e9ead;
	text-decoration: underline;
}

footer a{
	text-decoration: none;
}

#github {
	font-size: 60px;
}
/*  */

/* Credits */
ul {
	font-size: 35px;
}
/*  */
