<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">	

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/large.css') }}">
	
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/virus.png') }}" type="image/x-icon">

	<title>Covid-19 Tracker</title>

	<script src="https://kit.fontawesome.com/ccec0b4920.js" crossorigin="anonymous"></script>
</head>
<body>
	
	<header>

		<nav class="navbar navbar-expand-lg navbar-light">		
			<a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Coronavirus Tracker Logo" id="logo"></a>

			<button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
				<span class="navbar-toggler-icon" onclick="openNav()"></span>
			</button>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('india') }}">India Stats</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('world') }}">World Stats</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  More
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="active dropdown-item" href="{{ url_for('donate') }}">Donate</a>
					  <a class="dropdown-item" href="{{ url_for('dos') }}">Do's and Don'ts</a>
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item" href="{{ url_for('credit') }}">Credits</a>
					</div>
				  </li>
			</ul>
		</nav>
	</header>

	<div class="sidenav" id="mySidenav">
		<span class="closebtn" onclick="closeNav()">&times;</span>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}" onclick="closeNav()"><i class="fa fa-home" aria-hidden="true"></i> &nbsp; Home</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('india') }}" onclick="closeNav()"><i class="fas fa-dharmachakra" aria-hidden="true"></i> &nbsp; Indian Statistics</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('world') }}" onclick="closeNav()"><i class="fas fa-globe-americas" aria-hidden="true"></i> &nbsp; Global Statistics</a></li>
			<li class="nav-item active"><a class="nav-link" href="{{ url_for('donate') }}" onclick="closeNav()"><i class="fas fa-rupee-sign" aria-hidden="true"></i> &nbsp; &nbsp; Donate</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('dos') }}" onclick="closeNav()"><i class="fas fa-hands-wash"></i> &nbsp; &nbsp; Do's and Don'ts</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('credit') }}" onclick="closeNav()"><i class="fab fa-creative-commons-by" aria-hidden="true"></i> &nbsp; &nbsp; Credits</a></li>
		</ul>
	</div>
	
	<div class="container"><br>
		<h2><img id="modi" src="{{ url_for('static', filename='images/modi.jpg') }}"> Donate</h2>
		<q id="pmcares">PM-CARES fund is aimed at strengthening the fight against COVID-19. It will further availability of quality treatment and encourage research on ways to beat Coronavirus. I urge people from all walks of life to contribute to PM-CARES. Together, let's solve challenges of the present and protect the future.</q>
		<a href="https://www.pmcares.gov.in/en/#" target="_blank"id="donate-link">Donate to PM CARES</a>
	</div><br>

	<footer class="footer fixed-bottom">
		<span><a href="{{ url_for('home') }}">Home</a> &nbsp; <a href="{{ url_for('india') }}">India Stats</a> &nbsp; <a href="{{ url_for('world') }}">World Stats</a> &nbsp; <a href="{{ url_for('donate') }}">Donate</a> &nbsp; <a href="{{ url_for('dos') }}">Do's and Don'ts</a> &nbsp; <a href="{{ url_for('credit') }}">Credits</a></span><br>
		<span>Stay Home, Stay Safe</span><br>
		<span>&copy; Akash Ambashankar</span><br>
		<a href="https://github.com/akashamba"><i id="github" class="fab fa-github"></i></a>
	</footer>
	<script src="{{ url_for('static', filename='js/navigation.js') }}"></script>
</body>
</html>