<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">	

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/large.css') }}">
	
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/virus.png') }}" type="image/x-icon">

	<title>Covid-19 Tracker</title>

	<script src="https://kit.fontawesome.com/ccec0b4920.js" crossorigin="anonymous"></script>
	<script data-ad-client="ca-pub-4451228373649675" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>


	<header>

		<nav class="navbar navbar-expand-lg navbar-light">
			
			<a class="navbar-brand" href="{{ url_for('home') }}"><img alt="Coronavirus Tracker Logo" src="{{ url_for('static', filename='images/logo.png') }}" id="logo"></a>

			<button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
				<span class="navbar-toggler-icon" onclick="openNav()"></span>
			</button>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
				<li class="nav-item active"><a class="nav-link" href="{{ url_for('india') }}">India Stats</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('world') }}">World Stats</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  More
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" href="{{ url_for('donate') }}">Donate</a>
					  <a class="dropdown-item" href="{{ url_for('dos') }}">Do's and Don'ts</a>
					  <div class="dropdown-divider"></div>
					  <a href="#" class="btn dropdown-item" data-toggle="modal" data-target="#share">Share</a>
					  <a class="dropdown-item" href="{{ url_for('credit') }}">Credits</a>
					</div>
				  </li>
			</ul>
		</nav>
	</header>

	<div class="sidenav" id="mySidenav">
		<span class="closebtn" onclick="closeNav()">&times;</span>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}" onclick="closeNav()"><i class="fa fa-home" aria-hidden="true"></i> &nbsp; Home</a></li>
			<li class="nav-item active"><a class="nav-link" href="{{ url_for('india') }}" onclick="closeNav()"><i class="fas fa-dharmachakra" aria-hidden="true"></i> &nbsp; Indian Statistics</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('world') }}" onclick="closeNav()"><i class="fas fa-globe-americas" aria-hidden="true"></i> &nbsp; Global Statistics</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('donate') }}" onclick="closeNav()"><i class="fas fa-rupee-sign" aria-hidden="true"></i> &nbsp; &nbsp; Donate</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('dos') }}" onclick="closeNav()"><i class="fas fa-hands-wash"></i> &nbsp; Do's and Don'ts</a></li>
			<li class="nav-item"><a class="nav-link" href="whatsapp://send?text=https://coronavirus-live-tracker.herokuapp.com//" data-action="share/whatsapp/share"><i class="fas fa-share-alt"></i> &nbsp; Share</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('credit') }}" onclick="closeNav()"><i class="fab fa-creative-commons-by" aria-hidden="true"></i> &nbsp; Credits</a></li>
		</ul>
		<input id="copy-data-2" value="https://coronavirus-live-tracker.herokuapp.com/">
	</div>

	<div class="container">

		<button onclick="topFunction()" id="myBtn" title="Go to top">&#8963;</button>

		<br><h2>Indian Statistics</h2>

		<img class="top-pic" src="{{ url_for('static', filename='images/india.jpg') }}" alt="man-wearing-mask">
		<div class="row">
			<div class="col-md-12">
			{% for key, value in result[0].items() %}
				<div class="summary"> <span>{{ value }}</span> <br> <b>{{ key }}</b> </div>
			{% endfor %}	
			</div>
		</div>

		<br>

		<div class="table-wrapper-scroll-y my-custom-scrollbar">
			<table class="table table-striped table-hover table-responsive-lg custom">
				<tr><th colspan="6" id="table-header">Indian Statewise Data &nbsp;<span class="swipe d-lg-none">Swipe &rarr;</span></th></tr>
				<tr><th>#</th><th>State</th><th>Confirmed</th><th>Active</th><th>Recovered</th><th>Deaths</th></tr>
				{% for i in range(1,result|length) %}
					<tr>
						{% for key, value in result[i].items() %}
							<td> {{ value }} </td>
						{% endfor %}
					</tr>
				{% endfor %}
				<tr><th>#</th><th>State</th><th>Confirmed</th><th>Active</th><th>Recovered</th><th>Deaths</th></tr>
			</table>
		</div><br>

	<h2>Charts and Graphs</h2>
	<iframe class="graph" src="https://ourworldindata.org/coronavirus-data-explorer?yScale=log&zoomToSelection=true&country=~IND&deathsMetric=true&totalFreq=true&aligned=true&hideControls=true&smoothing=0&pickerMetric=location&pickerSort=asc" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe><br>
	<div class="graph flourish-embed flourish-map" data-src="story/225979"><script src="https://public.flourish.studio/resources/embed.js"></script></div><br>
	<iframe class="graph" src="https://ourworldindata.org/coronavirus-data-explorer?zoomToSelection=true&time=2020-03-14..&country=USA~BRA~GBR~IRN~RUS~ZAF~IND&cfrMetric=true&totalFreq=true&aligned=true&hideControls=true&smoothing=0&pickerMetric=location&pickerSort=asc" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>
	</div><br>

	<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="share" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Share</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
				<input readonly id="copy-data" value="https://coronavirus-live-tracker.herokuapp.com/">
				<button id="copy" type="button" class="btn" data-dismiss="modal" onclick="myFunction()"><i class="far fa-clipboard"></i></button>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>

	<footer>
		<span><a href="{{ url_for('home') }}">Home</a> &nbsp; <a href="{{ url_for('india') }}">India Stats</a> &nbsp; <a href="{{ url_for('world') }}">World Stats</a> &nbsp; <a href="{{ url_for('donate') }}">Donate</a> &nbsp; <a href="{{ url_for('dos') }}">Do's and Don'ts</a> &nbsp; <a href="{{ url_for('credit') }}">Credits</a></span><br>
		<span>Stay Home, Stay Safe</span><br>
		<span>&copy; Akash Ambashankar</span><br>
		<a href="https://github.com/akashamba"><i id="github" class="fab fa-github"></i></a>
	</footer>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>